@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root
{
    --font: 'Nunito';
}

input 
{
    font-family: inherit;
    font-weight: 700;
}

input:focus, select:focus
{
    outline: none;border: none;
}

a 
{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
buttton
{
    border: none;
}

* 
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    padding: 0;;
}

body 
{
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    padding: 0;
}

#pre_header
{
    width: 100%;
    text-align: center;
    padding: .3% 0;
    background: rgb(255, 183, 0);
}

#pre_header i 
{
    padding: .5%;
    text-align: center;
    font-size: .8vw;
    color: rgb(0, 0, 0);
    /* border: 1px solid white; */
    border-radius: 1em;
}

header 
{
    width: 100%;
    display: flex;
    align-content: center;
    background: rgb(0, 0, 0);
    justify-content: center;
}

#company_name 
{
    width: 30%;
    height: auto;
    display: flex;
    color: rgb(245, 191, 12);
    align-items: center;
    justify-content: center;
}

header img {
    width: 20%;
}

#searchbar
{
    width: 40%;
    display: flex;
    font-family: var(--font);
    align-items: center;
    justify-content: center;
}

#searchbar form {
    width: 95%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

#searchbar select
{
    width: 30%;
    padding-inline: 3%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.233);
}


#searchbar input[type="text"]
{
    width: 55%;
    border: none;
    padding: 0 2%;
    height: 40px;
    margin-right: .40%;
}
#searchbar input[type="submit"]
{
    width: 14%;
    border-radius: 0 5px 5px 0;
    border: none;
    font-weight: bold;
    height: 100%;
    background-color: rgb(245, 191, 12);
}

#contact
{
    width: 30%;
    display: grid;
    place-items: center;
}
#contact section
{
    display: flex;align-items: center;
    width:100%;padding: 1%;margin: 0;color: rgb(245, 191, 12)
}

#contact i 
{
    color: white;font-size: .8vw;;
    padding: 0 3%;
}

#contact p:first-child
{
    color: white;font-size: 1vw;
}

nav
{
    width: 100%;display: flex;align-items: center;
    justify-content: center;
    height: 60px;border-bottom: 2px solid rgb(245, 191, 12);
    margin-top: .5%;
}
nav ul
{
    width: 40%;display: flex;
    height:100%;align-items: center;;
}
nav li
{
    width: 20%;list-style: none;text-align: center;height: 100%;;
    display: flex;align-items: center;justify-content: center;border-radius: 5px 5px 0 0;
    text-transform: uppercase;transition: .5s;cursor: pointer;
}
nav li:hover
{
    background-color: rgb(245, 191, 12);
}
nav div
{
    width: 20%;display: grid;background: rgb(245, 191, 12);
    place-items: center;height: 100%;margin: 0 2%;
}
nav div select
{
    width: 80%;height: 100%;padding: 0 4%;;
    border: none;background-color: inherit;
}

#intro
{
    width: 100%;
    height: 70vh;
    background-image: url('../img/pop-zebra-wp81DxKUd1E-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

#sections
{
    width: 100%;height: 20vw;display: flex;
    align-items: center;justify-content: center;;
}

#sections div
{
    width: 20%;height: 70%;margin: 0 .5%;display: grid;place-items: center;
    border-radius: 5px;background-repeat: no-repeat;background-position-y: 100%;
    background-size: 60%;background-position-x: 100%;
}

#sections div:first-child
{
    background-color: rgb(255, 166, 0);
    background-image: url('../img/bigstock-Various-hard-hats-safety-helm-145706012-removebg-preview.png')
}

#sections div:nth-child(2){
    background-color: rgb(95, 131, 133);
    background-image: url('../img/sgo_7001frt-removebg-preview.png')
}

#sections div:last-child
{
    background-color: orangered;background-size: 80%;
    background-image: url('../img/wooden-floor-hand-tools-safety-glasses-wallpaper-preview-removebg-preview.png')
}

#sections div section
{
    color: white;
    width: 95%;height: 90%;padding: 2% 4%;
}

#sections h1
{
    font-size: 1.5vw;font-weight: bolder;
}

#sections article 
{
    width: 80%;height: 60%;color: black;
    text-transform: uppercase;font-weight: 700;

}

#sections button
{
    width: 40%;height: 20%;border-radius: 30px;color: white;
    border: none;background: inherit;font-weight: bold;box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.178);
}

#products 
{
    width: 100%;height: 90vh;
}

#open_span 
{
    color: rgb(0, 0, 0);text-transform: uppercase;text-align: center;
    font-weight: 500;width: 70%;margin: 2% auto;font-size: 2vw;
}
#open_span span, #open_span span::after, #open_span span::before
{
    color: rgb(255, 166, 0);font-weight: bolder;
    font-size: .8vw;content:" ~ ";
}

#featured 
{
    width: 80%;height: 80%;display: flex;
    flex-wrap: wrap;margin: 0 auto;justify-content: center;
}

#featured div
{
    width: 20%;height: 50%;text-align: center;border-radius: 5px;;
    margin: .4%;transition: .5s;
}

#featured div figure
{
    width: 100%;height: 80%;
    display: grid;place-items: center;
}

#featured div figure img
{
    width: 80%;
}

#featured section
{
    width: 100%;height: 20%;transition: .5s;
    display: grid;place-items: center;
}

#featured h2
{
   font-size: 1vw;height: 25%;
}

#featured div:hover
{
    margin-top: -1%;height: 51%;
    box-shadow: 0 0 32px 2px rgba(0, 0, 0, 0.178);
}

#featured div:hover section
{
    color: rgb(255, 166, 0);background: black;
}

#order
{
    width: 100%;height: 30vw;background-size: 100%;background-position:  center;
    background-image: url('../img/pop-zebra-wp81DxKUd1E-unsplash.jpg');background-repeat:  no-repeat;
    background-color: rgba(0, 0, 0, 0.473);background-blend-mode: soft-light;
    display: flex;align-items: center;justify-content: center;
}

#order section
{   
    height: 80%;background: white;color: black;display: flex;
    align-items: center;border-radius: 5px;margin: 0 .5%;position: relative;;
}

#order section:first-of-type
{
    width: 45%;
}

#order section:last-of-type
{
    background-image: url('../img/wooden-floor-hand-tools-safety-glasses-wallpaper-preview-removebg-preview.png');
    width: 18%;background-repeat: no-repeat;background-position: bottom;background-color: rgb(255, 115, 0);
}

#abs_offer
{
    width: 38%;height: 50%;filter: saturate(500%);
    position: absolute;top: 0;left: -15%;
}

#order figure
{
    width: 50%;height: 100%;background: rgb(212, 138, 0);background-size: 110%;
    background-position: bottom;background-repeat:  no-repeat;
    background-image: url('../img/kisspng-personal-protective-equipment-safety-arc-flash-bus-general-category-services-sea-marine-services-lt-5d3c8bf78ccaa0.6100986715642490795767.png');
}

#order article
{
    width: 45%;height: 70%;margin: 0 auto;
}

#order span:first-of-type, #order span:first-of-type::after, #order span:first-of-type::before
{
    color: rgb(190, 70, 0);text-transform: capitalize;
    font-size: .8vw;content: " ~ ";
}

#order i { font-size: .8vw; color: rgb(212, 138, 0) }

#order h3
{
    text-transform: uppercase;padding: 2% 0;transition: .5s;
}

#order h3:hover {color: rgb(255, 255, 255)}

#order p
{
    font-size: .8vw;padding: 2% 0;
}


#order button
{
    width: 45%;height: 15%;margin: 2% 0;
    border: none;background: rgb(212, 138, 0);color: white;
}

#order section:last-of-type article
{
    width: 80%;;
}
#order span:last-of-type, #order span:last-of-type::after, #order span:last-of-type::before {color: white}

#order section:last-of-type button
{
    background-color: inherit;box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.178);
    border-radius: 30px;
}
#order h2
{
    text-transform: uppercase;width: 50%;font-size: 2vw;
}